*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    outline: none;
    font-family: 'Roboto', sans-serif;
}
:root{
    --vermelho: #df0000;
    --azul: #0303cf;
}
.center{
    text-align: center;
}
.red{
    color: var(--vermelho);
    font-weight: bold;
}
.blue{
    color: var(--azul);
    font-weight: bold;
}
.container{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container main header{
    padding: 20px;
}
.container main header h2{
    text-align: center;
}
.container main form input{
    padding: 10px;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
.horas{
    width: 50px;
}